# Flutter & Dart
.dart_tool/
.build/
.packages
.pub-cache/
pubspec.lock
.idea/
.vscode/
*.iml
*.log

# Android
/android/.gradle/
android/app/build/
**/local.properties
*.lock
*.keystore

# iOS
ios/Flutter/Flutter.podspec
ios/Pods/
ios/Runner.xcworkspace/
ios/Runner.xcodeproj/project.xcworkspace/

# Others
*.DS_Store
*.png
*.jpg
*.jpeg
*.gif
*.lock
*.tmp
*.swp
*.zip
